.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #1f2937;
  border-radius: 12px;
  margin: 0 auto 20px;
  max-width: 1180px;
  padding: 24px;
  transition: all 1s;
  width: 100%;
}

.grid.columns-5 {
  grid-template-columns: repeat(2, 1fr);
}

.grid.columns-4 {
  grid-template-columns: repeat(2, 1fr);
}

.grid.columns-3 {
  grid-template-columns: repeat(2, 1fr);
}

.grid.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid.columns-1 {
  grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.columns-5 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.columns-4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid.columns-1 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1180px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid.columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid.columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid.columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid.columns-1 {
    grid-template-columns: 1fr;
  }
}

.grid-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 0 auto 10px;
  max-width: 1180px;
}

.grid-btn-container button {
  border-radius: 4px;
  padding: 7px 15px;
}

.parent {
  margin-bottom: 2rem;
}
