html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111827;
  color: #f8f8f2;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Utility */
.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 30px 20px;
}

.title {
  margin-bottom: 0;
}

.btn {
  font-weight: 500;
  background-color: #1c64f2;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #1a56db;
}

.badge {
  font-size: 12px;
  display: block;
  background-color: #233876;
  border-radius: 4px;
  color: rgb(164, 202, 254);
  padding: 4px 10px;
}

.badge-success {
  font-size: 12px;
  display: block;
  background-color: #014737;
  border-radius: 4px;
  color: rgb(132, 225, 188);
  padding: 4px 10px;
}

/* forms */
input {
  display: block;
  background-color: #374151;
  border: 0;
  border-radius: 8px;
  color: white;
  padding: 10px;
  width: 100%;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

select {
  background-color: #374151;
  border: 0;
  border-radius: 8px;
  color: white;
  padding: 10px;
  width: 100%;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: white;
}
