.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #1f2937;
  border-bottom: 1px solid #313b49;
}

.nav a {
  padding: 1rem;
}

.nav ul {
  display: flex;
}

.add {
  background-color: #1a56db;
  transition: 0.3s;
}

.add:hover,
.add:focus {
  background-color: #1e429f;
}

.logo {
  font-weight: bold;
}